@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

@import "tailwindcss";

@custom-variant light (&:where(.light, .light *));

@layer base {
  body {
    @variant light{
      @apply bg-light-bg-1 text-light-text-1;
    }

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    @apply bg-dark-bg-1 text-dark-text-1;
  }

  button{
    @apply cursor-pointer;
  }
}

@theme {
  --color-brand-main: oklch(63.12% 0.275 282.96);
  --color-brand-sub: oklch(63.86% 0.25 281.5);
  --color-brand-soft: oklch(81.11% 0.194 281.16);
  --color-brand-red: oklch(63.17% 0.304 26.06);
  --color-brand-green: oklch(75.53% 0.261 148.94);
  --color-brand-white: oklch(100% 0 0);
  --color-brand-black: oklch(19.12% 0.033 262.42);

  --color-light-text-1: oklch(22.57% 0.011 259.14);
  --color-light-text-2: oklch(22.57% 0.011 259.14 / 0.5);
  --color-light-text-3: oklch(60.73% 0.077 256.58);
  --color-light-bg-1: oklch(100% 0 0);
  --color-light-bg-2: oklch(94.86% 0.009 250.56);
  --color-light-bg-3: oklch(91.12% 0.008 250.98);
  --color-light-bg-4: oklch(87.62% 0.01 251.42);

  --color-dark-text-1: oklch(100% 0 0);
  --color-dark-text-2: oklch(100% 0 0 / 0.5);
  --color-dark-text-3: oklch(76.92% 0.091 257.77);
  --color-dark-bg-1: oklch(19.12% 0.033 262.42);
  --color-dark-bg-2: oklch(30.56% 0.056 257.34);
  --color-dark-bg-3: oklch(39.8% 0.063 257.66);
  --color-dark-bg-4: oklch(91.12% 0.008 250.98);

  --text-clamp-xs: clamp(10px, 2vw, 12px);
  --text-clamp-sm: clamp(12px, 2vw, 14px);
  --text-clamp-md: clamp(14px, 2vw, 16px);
  --text-clamp-base: clamp(16px, 2vw, 18px);
  --text-clamp-lg: clamp(18px, 2vw, 20px);
  --text-clamp-xl: clamp(20px, 2vw, 22px);
  --text-clamp-2xl: clamp(22px, 2vw, 24px);
  --text-clamp-3xl: clamp(24px, 2vw, 26px);
  --text-clamp-4xl: clamp(26px, 2vw, 28px);
  --text-clamp-5xl: clamp(28px, 2vw, 30px);
  --text-clamp-6xl: clamp(30px, 2vw, 32px);
}

@utility ct-clamp-* {
  font-size: --value(--text-clamp- *);
}

@utility ct-text-1 {
  @apply text-light-text-1;
  @variant dark {
    @apply text-dark-text-1;
  }
}
@utility ct-text-2 {
  @apply text-light-text-2;
  @variant dark {
    @apply text-dark-text-2;
  }
}
@utility ct-text-3 {
  @apply text-light-text-3;
  @variant dark {
    @apply text-dark-text-3;
  }
}
@utility ct-bg-1 {
  @apply bg-light-bg-1;
  @variant dark {
    @apply bg-dark-bg-1;
  }
}
@utility ct-bg-2 {
  @apply bg-light-bg-2;
  @variant dark {
    @apply bg-dark-bg-2;
  }
}
@utility ct-bg-3 {
  @apply bg-light-bg-3;
  @variant dark {
    @apply bg-dark-bg-3;
  }
}
@utility ct-bg-4 {
  @apply bg-light-bg-4;
  @variant dark {
    @apply bg-dark-bg-4;
  }
}
